*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
main{
    background-color: rgb(255, 255, 255);
    
}
.navbar{
    height: 80px;
    width: 100%;
    background-color: #33edf0;
    /* #45aea7 */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed; */
}
.navbar img{
    height: 60px;
    width: 200px;
    background-color: #111111;
    margin: 10px;
}

.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    /* padding: 0px 20px; */
    margin: 20px;
    font-size: 1.5rem;
    color:rgb(255, 255, 255);

}
.nav-links li:hover{
    color: #246977;
}
.navbar .btn{
    position: absolute;
    right: 5%;
}
.navbar .btn button{
    padding: 10px 20px;
    margin: 20px;
    background-color: #060606;
    color: #ffffff;  
    border-radius: 4px;
    border: none;
}
.navbar .btn button:hover{
    background-color: #fafafa;
    color: #000000;
}
.container1{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container1 img{
    height: 300px;
    width: 600px;
    margin: 20px;
}
.container1 h1{
    font-size: 2.8rem;
    text-align: center;
    margin: 20px;
}
.container1 button{
    padding: 20px;
    width: 220px;
    border-radius: 40px;
    font-size: 1.5rem;
    background-color: #33edf0;
    color: #000000;
    margin: 20px;
}
.container1 button:hover{
    background-color: #000000;
    color: #f4f4f4;

}
a{
    text-decoration: none;
    color: black;
}

.about{
    padding: 30px;
    background-color: #060606;
    background:url(About\ page\ image.jpg)no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.about h3{
    font-size: 4rem;
    text-align: center;
    color:#0b0b0b;
}
.about p{
    margin: 30px;
    font-size: 2rem;
    text-align: center;
    color: white;
}
h1{
    font-size:3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: baseline;
}
.features{
    background-color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.features h3{
    font-size:2.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-align: center;
}
.box{
    height: 150px;
    width: 300px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box p{
    margin-top: 10px;
    font-size: 1.4rem;
}
.box img{
    height: 45px;
    width: 45px;
}
.box:hover{
    background-color:#33edf0;
    
}
.flexbox{
    display: flex;
    margin: auto;
    margin-top: 0;
    
}
.flexbox li{
    margin: 40px;
    list-style: none;
    margin-top: 5px;
}
.community{
    background: url(pexels-belle-co-1000445.jpg)no-repeat;
    background-size: cover;
    padding: 90px;
}
.community h3{
    text-align: center;
    font-size: 4rem;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.community p{
    font-size: 2.5rem;
    text-align: center;
    margin: 20px;
    color: #ffffff;
}
.footer{
    background-color: #fafafa;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.footer .devimg{
    display: flex;
    padding: 20px;

}
.footer h3{
    font-size: 2rem;
}
.footer .devimg img{
    margin: 40px;
}
.footer .devimg img{
    height: 200px;
    width: 200px;
    background-color: #33edf0;
    margin-left: 100px;
    margin-right: 100px;
}
.footer p{
    font-size: 1rem;
    color: #000000;
    margin: 20px;
}



.social img{
    height: 25px;
    width: 25px;
}
.social ul{
    display: flex;
}
.social ul li{
    list-style: none;
    margin: 15px;

}
.btn-link{
    text-align: center;

}
.about button{
    padding: 15px;
    width: 270px;
    border-radius: 40px;
    font-size: 1.5rem;
    background-color: #33edf0;
    color: #000000;
}
html{
    scroll-behavior: smooth;
}
.about button:hover{
    background-color: #ffffff;
    color: #000000; 
}
/* .profileicon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileicon img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
} */
.hamburger{
    height: 30px;
    width: 30px;
    border: 1px solid black;
    float:right;
    margin: 20px;
    display: none;
    flex-direction: column;
}
.bar{
    height: 3px;
    width: 20px;
    background-color: black;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .hamburger{
        display: flex;
      }
    .nav-links{
        display: none;
        flex-direction: column;
        background-color: rgb(50, 48, 48);
        position: absolute;
        width: 100%;
        top: 80px;
        left: 0;
        text-align: center;
        padding: 10px;
    }  
    .nav-links.active{
        display: flex;
    }
    /* .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    text-align: center;
    padding: 10px;
    } */

    /* #nav-links.active{
        display: flex;
    } */
}

@media screen and (max-width: 700px) {
    .conimg{
        width: 95%;    
    }
    .container1 img{
        width: 100%;
        height: 250px;
    }
    .container1 h1{
        font-size: 1.8rem;
        text-align: center;
        margin: 20px;
    }
    .container1 button{
        padding: 10px;
        width: 180px;
        border-radius: 40px;
        font-size: 1.2rem;
        background-color: #33edf0;
        color: #000000;
        margin: 20px;
    }
    /* .about{
        padding: 30px;
        background-color: #060606;
        background:url(About\ page\ image.jpg)no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
    } */
    .about h3{
        font-size: 2rem;
        text-align: center;
        color:#0b0b0b;
    }
    .about p{
        margin: 30px;
        font-size: 1rem;
        text-align: start;
        color: white;
    }
    .about button{
        padding: 8px 2px;
        width: 190px;
        border-radius: 40px;
        font-size: 1.2rem;
        background-color: #33edf0;
        color: #000000;
    }
    .community{
        padding: 40px;
    }
    .community h3{
        text-align: center;
        font-size: 2rem;
        color: #ffffff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .community p{
        font-size: 1.2rem;
        text-align: start;
        margin: 20px;
        color: #ffffff;
    }
    .flexbox{
        flex-direction: column;
        
    }
    .features h3{
        font-size:2rem;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        text-align: center;
    }
    h1{
        font-size:1.8rem;
        text-align: center
    }
    .footer .devimg img{
        height: 150px;
        width: 150px;
    }
    .footer .devimg img{
        height: 170px;
        width: 170px;
        margin: auto;
        margin: 20px;
    }
    .footer p{
        font-size: 0.8rem;
        color: #000000;
        margin: 20px;
    }

    


}



